<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.zgy.rxview" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".activity.ActivityWebView">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ActivityBase">
        </activity>
        <activity android:name=".activity.ActivityScanerCode">
        </activity>
        <activity android:name=".activity.ActivityCodeTool">
        </activity>

    </application>
</manifest>
